.App {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.App-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.App-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.App-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}
